*body{
    font-size: 12px !important;
    font-family:"Arial",sans-serif;
    color:#ffff;
    background: #333;
    
}

/* See section */
#see{
    background:black;
    text-align: center;
    
}
.see{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.see-btn{
    display: flex;
    justify-content: space-between;
    
    
}
.jumbotron{
    border-bottom-left-radius: 2rem;
    margin-top:1rem ;
}
/* title section */
.title{
    cursor: pointer;

}
.text-underline{
    width: 6rem;
    height: 5px;
    margin: auto;
    transition: 3ms ease-in;
    border: 2px dotted white;
    background-color:black;
}
.title h1:hover{
    color:orange !important;
}
.choice{
    border: 2px solid teal;
}
.card{
    margin-top:1rem ;
    box-shadow:  orange 10px 10px 10px;
    padding: 2px;
    
}
.imgCarr{
    text-align: center;
    margin:2rem;
    float: left;
}
.fa-play{
    position: relative;
    bottom:8.5em;
    left:1em;
}
.fa-play:hover{
    cursor: pointer;
}

/* Carrousel */
a{
    color: white;
    text-decoration: none;
}
h1{
    text-align:center;
}
 .slider-inner{
	width:500px;
	height:300px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner img{
	display:none;
	
}

.slider-inner img.active{
	display:inline-block;
}

.prev,.next{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}


/*  */

   
